<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div id="section-info">
            <img src="{{ url_for('static', filename='MMO_logo2.png') }}" alt="MMO_logo2">
            <a href="#services-section">Servicios</a>
            <a href="#proceso-section">Proceso de trabajo</a>
            <a href="">Sobre nosotros</a>
            <div id="agenda-cita">
                <a href="">AGENDÁ UNA CITA</a>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer style="font-size: small; text-align: center; font-family: Arial, sans-serif; padding: 10px;">
    <details>
        <summary>📍Contacto del Museo</summary>
        <p>📧 Correo: contacto@puerta21.org</p>
        <p>📞 Teléfono: +123-456-7890</p>
        <p>🏛 Dirección: Av. Cnel Manuel Dorrego 4045, Palermo, Buenos Aires, AR</p>
        <p>🕒 Horario: Lunes a Sábado, 10:00 AM - 6:00 PM</p>
      </details>
        <p style="margin-top: 30px;">
        Proyecto colaborativo | Museo Puerta21<br>
        Sitio web desarrollado por <a href="https://www.instagram.com/jslavl/profilecard/?igsh=bzA3ZmN6YWszcHEz" target="_blank" style="color: red;">Jefferson Villalobos</a> 🇨🇷 2025 <br>
        <img src="Images/25231.png" alt="GithubLogo" style="max-width: 15px; height: auto;">
        <a href="https://github.com/Slaterfr" target="_blank" style="color: goldenrod; text-decoration: none;">GitHub</a> |
        <a href="mailto:slavillalobos1@mail.com" style="color: goldenrod; text-decoration: none;">Contacto</a>
        <img src="Images/gmail_logo.webp" alt="gmail_logo" style="max-width: 15px; height: auto;">
    </p>
</body>
</html>